# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Fly.io
fly.toml

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Build output
.vinxi
.vercel

# Environment variables
.env
.env.*
!.env.example

# OS specific
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 
